<% if @user.errors.any? %>
<div class="errors">
	The form contains <%= pluralize(@user.errors.count,"error") %>
	

	<div class="ul">
		
		<ul class="error-ul">
		
		<% @user.errors.full_messages.each do |msg| %>
		
		<li><%= msg %></li>
		<% end %>
		</ul>

	</div>
<% end %>	


</div>