		<div class="row">
		<div class="large-12 columns">
		<div id="slider">
			<h1>抵制谣言需要你我的参与</h1>
			<h2>抵制谣言，人人有责</h2>
      <%= link_to "加入我们" , new_user_path,class: "small button alert"  %>
			<!-- <img src="http://placehold.it/1000x400&text=[ img 1 ]" /> -->
			
		</div>		
		</div>
	
</div>
