<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "Yao言",'#' %></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
		
			<li class="divider"></li>
			<li><%= link_to "登录",'#' %></li>
			<li class="divider"></li>
			<li><%= link_to "注册", '#' %></li>
		</ul>
	</section>
</nav>
		<div class="row">
		<div class="large-12 columns">
		<div id="slider">
			<h1>抵制谣言需要你我的参与</h1>
			<p class= "button success">加入我们</p>
			<!-- <img src="http://placehold.it/1000x400&text=[ img 1 ]" /> -->
			
		</div>		
		</div>
	
</div>